$sm: 576px;
$md: 900px;

* {
  padding: 0;
  margin: 0;
}

.bc-red { border: 1px solid red; }
.bc-green { border: 1px solid green; }

.nav-container {
  width: 100%;
  justify-content: end;
}
.nav-logo {
  width: 32px;
  height: 32px;
}
.nav-items {
  display: flex;
  align-self: flex-end;
}

